@charset "UTF-8";

:root {
    --cor1: #00FFFF;
    --cor2: #0EC9CA;
    --cor3: #208C81;
    --cor4: #403C3C;
    --cor5: #0D0D0D;
    --cor6: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body 
{
    background-color: var(--cor5);
    font-family: Arial,Verdana, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    color: var(--cor6);
    display: flex;
    flex-direction: column;
}

main {
    background-color: var(--cor6);
    flex-grow: 1;
    padding: 1.5rem;
}

header > img {
    margin: auto;
    width: 100%;
}

#btndownload {
    background-color: var(--cor1);
    border-color: var(--cor1);
    color: #000;
    transition: 0.3s;
}

#btndownload:hover {
    background-color: transparent;
    color: #FFF;
}

#btndownload:active {
    color: var(--cor6);
}

.nav-link {
    /* background-color: red; */
    margin: 0 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--cor2);
    font-weight: bold;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: var(--cor2);
    /* color: #000 !important; */
    border-color: #FFF;
}

#carousel {
    width: 100%;
    padding: 1rem;
    background-color: red;
    background-color: var(--cor4);
    color: #FFF;
    display: flex;
    align-items: center;
}

#carousel > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

#carouselImages {
    min-height: 300px;
    position: relative;
}

.carouselItem {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: opacity(0);
    transform: scale(0);
    transition: 0.3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carouselItem.show {
    filter: opacity(1);
    transform: scale(1);
}

.carouselItem img {
    max-height: 100%;
    max-width: 100%;
}

#carouselRadios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1.5rem;
    position: relative;
}

#carouselRadios::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background: linear-gradient(to right, transparent, #FFF, transparent);
    top: 0.75rem;
}

#carouselRadios > input {
    margin: 0.5rem;
    visibility: hidden;
    position: relative;
}

#carouselRadios > input::before {
    visibility: visible;
    content: "";
    position: absolute;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: 1px solid #FFF;
    transform: translate(-0.25rem, -0.25rem);
}

#carouselRadios > input::after {
    visibility: visible;
    content: "";
    position: absolute;
    cursor: pointer;
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
    background: var(--cor2);
    transform: translate(-0.1rem, -0.1rem) scale(0);
    filter: opacity(0);
    transition: 0.3s;
}

#carouselRadios > input:checked::after {
    transform: translate(-0.1rem, -0.1rem);
    filter: opacity(1);
}

#carousel #next,
#carousel #previous {
    color: #FFF;
    background-color: transparent;
    border: 1px solid var(--cor2);
    padding: 0.1rem 0.5rem 0.2rem;
    transition: 0.3s;
    border-radius: 50%;
    height: fit-content;
}

#carousel #next {
    right: 1rem;
}

#carousel #previous {
    left: 1rem;
}

#carousel #next:hover,
#carousel #previous:hover {
    color: #000;
    background-color: #FFF;
    border: 1px solid var(--cor2);
}

#conteudo {
    padding: 3rem 0.5rem 1rem;
}

.title {
    text-align: center;
    width: 100%;
}

